<section class="px-4 py-4">

    <div class="d-flex justify-content-between">
      <h4 class="text-info">Listado de Productos</h4>
      <a routerLink="/person3/create" class="btn btn-info">NUEVO</a>
    </div>

    <br>
    
    <table class="table table-hver" >
      <tr class="text-info">
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Stock</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let person of persons3">
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.categoria}}</td>
        <td>{{ person.precio }}</td>
        <td>{{ person.stock }}</td>
        <td>
      
          <a href="#" [routerLink]="['/person3/', 'edit', person.id  ]" class="btn btn-info"><i class="fas fa-edit text-white "></i></a>
          <button type="button" (click)="deletePerson3(person.id)" class="btn btn-danger ml-3"><i class="fas fa-trash text-white "></i></button>
        </td>

      
      </tr>
    </table>
</section>
