<div class="container px-4 py-4">
  
    <div class="d-flex justify-content-between">
      <h4>Editar Productos</h4>
      <a href="#" routerLink="/person3/index" class="btn btn-primaryt">Back</a>
    </div>

    <hr>

    <form [formGroup]="form3" (ngSubmit)="submit()">


        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="name">Name:</label>
              <input
                formControlName="name"
                [(ngModel)]="person3.name"
                id="name"
                type="text"
                class="form-control">
              <!-- <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                  <div *ngIf="f.name.errors.required">*Name is required.</div>
                  <div *ngIf="f.name.errors.pattern">*The name must only contain letters.</div>
              </div> -->
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="categoria">Categoria:</label>
              <input
                formControlName="categoria"
                [(ngModel)]="person3.categoria"
                id="categoria"
                type="text"
                class="form-control">
              <!-- <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                  <div *ngIf="f.email.errors.required">*Email is required.</div>
                  <div *ngIf="f.email.errors.email">*The email must be a valid email address.</div>
              </div> -->
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="precio">Precio:</label>
              <input
                [(ngModel)]="person3.precio"
                formControlName="precio"
                id="precio"
                type="text"
                class="form-control">
              <!-- <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                  <div *ngIf="f.phone.errors.required">*Phone is required.</div>
                  <div *ngIf="f.phone.errors.pattern">*The phone must only contain numbers.</div>
              </div> -->
            </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="stock">Stock:</label>
            <input
              [(ngModel)]="person3.stock"
              formControlName="stock"
              id="stock"
              type="text"
              class="form-control">
            <!-- <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                <div *ngIf="f.phone.errors.required">*Phone is required.</div>
                <div *ngIf="f.phone.errors.pattern">*The phone must only contain numbers.</div>
            </div> -->
          </div>
      </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form3.valid">ACTUALIZAR</button>
    </form>
</div>
